/*.jumbotron {
    color: #fff;
    background-image: url("https://c2.staticflickr.com/6/5211/5426098481_503b16b14b_b.jpg");
    background-size: cover;
} */

/* body {
    background-color: #024;
}

.jumbotron {
    color: #fff;
    background-image: url("../img/star-night-sky.jpg");
    background-size: cover;
}

.col-sm-6 {
    color: #fff;
} */

/** {
    padding: 0;
    margin: 0;
}*/

.jumbotron {
    /*background-image: url(../images/black_questions.jpg);*/
    background-color: white;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1, h4, h6 {
    text-align: left;
    color: white;
    font-family: 'Alice', serif;
}

#myMove {
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight:bold;
    font-size:20px;
    padding:10px;
    animation: mymove 10s ease-in-out 2s infinite alternate;
        -webkit-animation: mymove 10s ease-in-out 2s infinite alternate; /* Safari 4.0 - 8.0 */
        -moz-animation: mymove 10s ease-in-out 2s infinite alternate;
        -o-animation: mymove 10s ease-in-out 2s infinite alternate;;
    border-radius:5px;
        -webkit-border-radius:5px;
}

@keyframes mymove {
0% {
    transform: rotate(0deg);
    left:0px;
    
}
25% {
    transform: rotate(20deg);
    left:0px;
    
}
50% {
    transform: rotate(0deg);
    left:360px;
    
}
55% {
    transform: rotate(0deg);
    left:360px;
    
}
70% {
    transform: rotate(0deg);
    left:360px;
    background:#1ec7e6;
    
}
100% {
    transform: rotate(-360deg);
    left:0px;
    
}
}

@-webkit-keyframes animated_div {
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:360px;}
55% {-webkit-transform: rotate(0deg);left:360px;}
70% {-webkit-transform: rotate(0deg);left:360px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div {
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:360px;}
55%  {-moz-transform: rotate(0deg);left:360px;}
70%  {-moz-transform: rotate(0deg);left:360px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div {
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:360px;}
55%  {transform: rotate(0deg);left:360px;}
70%  {transform: rotate(0deg);left:360px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}






/* Safari 4.0 - 8.0 !!!!!!!!!!!! <- close comment here
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 250px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 250px;}
}

/*.col1, .col2, .col3, .col4 {border: 2px solid black;}*/

form {
    width: 70%;
}

.contact {
    margin-left: 8%;    
}

.nav > li > a {
    background-color: black;
    color: white;
    font-size: 20px;
}

.navbar-header {
    margin: 0;
}

.navbar .nav-pills > .active > a {
    background-color: black;
    color: white;
}
    
.navbar .nav-pills a:hover {
    background-color: white;
    color:black;
}

.navbar .nav-pills > .active > a:hover {
    background-color: white;
    color:black;
}

.textin {
    position: absolute;
    top: 40%;
    left: 4%;
}

/* 
#myModal1 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal2 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal3 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}

#myModal4 {
    border-radius: 5px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    position: center;
}
*/

.modal-body {
    text-align: center;
    background-color: #E3E3E3;
}

.modal-header {
    color: #FC3F49;
    text-shadow: 1px 1px black;
    font-family: 'Gloria Hallelujah', cursive;
}

.col-md-6 img {
    padding-bottom: 45px;
}

.ui-widget > input {
    margin-bottom: 200px;
}

@media screen and (max-width: 568px) {
    h1 {
        font-size:60px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        font-size:20px;
    }
}
 
@media screen and (max-width: 568px) {
    .lead {
        font-size:0.8em;
    }
}
